<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>PAWTÁSTICO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/estilos.css">
  </head>
  <body>
    <header>
      <div class="cabecera">
        <img src="../images/Logo_marca.png" alt="cabecera" class="logo">
      </div>
    </header>
    <!--Barra de navegación-->
    <nav>
      <a href="../index.html">Inicio</a>
      <a href="productos.html">Productos</a>
      <a href="presupuesto.html">Presupuesto</a>
      <a href="contacto.html" class="activo">Contacto</a>
    </nav>
    <!--Contacto-->
    <div class="ubicacion_contacto">
      <div class="ubicacion">
        <img src="../images/ubicacion.jpg" alt="ubicacion">
      </div>
      <div class="datos_contacto">
        <h4>Dirección</h4>
        <p>Calle de las Mascotas, 123, 28001 Madrid, España.</p>
        <h4>Teléfono</h4>
        <p>+34 123-456-789</p>
        <h4>Email</h4>
        <p>contacto@pawtastico.es</p>
      </div>
    </div>
     <!--Pie de página--> 
     <footer>
      <div class="RRSS"> 
        <a href="https://www.instagram.com/" target="_blank">
          <img src="../images/Logo_Instagram.png" alt="instagram">
        </a>
        <a href="https://www.facebook.com/?locale=es_ES" target="_blank">
          <img src="../images/Logo_FB.png" alt="instagram">
        </a>
        <a href="https://x.com/?lang=es" target="_blank">
          <img src="../images/Logo_X.png" alt="instagram">
        </a>
        <p>Calle de las Mascotas, 123, 28001 Madrid, España. <a href="#">Aviso legal</a></p>
      </div>
    </footer>
  </body>
</html>