<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>PAWTÁSTICO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/estilos.css">
  </head>
  <body>
    <header>
      <div class="cabecera">
        <img src="../images/Logo_marca.png" alt="cabecera" class="logo">
      </div>
    </header>
    <!--Barra de navegación-->
    <nav>
      <a href="../index.html">Inicio</a>
      <a href="productos.html" class="activo">Productos</a>
      <a href="presupuesto.html">Presupuesto</a>
      <a href="contacto.html">Contacto</a>
    </nav>
    <!--Contendor productos-->
    <main>
      <div class="contenedor_fotos_productos">
        <div class="foto_productos">
          <img src="../images/foto_1.jpg" alt="Imagen 01">
        </div>
        <div class="foto_productos">
          <img src="../images/foto_2.jpg" alt="Imagen 02">
        </div>
        <div class="foto_productos">
          <img src="../images/foto_3.jpg" alt="Imagen 03">
        </div>
        <div class="foto_productos">
          <img src="../images/foto_4.jpg" alt="Imagen 04">
        </div>
        <div class="foto_productos">
          <img src="../images/foto_5.jpg" alt="Imagen 05">
        </div>
        <div class="foto_productos">
          <img src="../images/foto_6.jpg" alt="Imagen 06">
        </div>
        <div class="foto_productos">
          <img src="../images/foto_7.jpg" alt="Imagen 07">
        </div>
        <div class="foto_productos">
          <img src="../images/foto_8.jpg" alt="Imagen 08">
        </div>
        <div class="foto_productos">
          <img src="../images/foto_9.jpg" alt="Imagen 09">
        </div>
      </div>
    </main>
    <!--Pie de página--> 
    <footer>
      <div class="RRSS"> 
        <a href="https://www.instagram.com/" target="_blank">
          <img src="../images/Logo_Instagram.png" alt="instagram">
        </a>
        <a href="https://www.facebook.com/?locale=es_ES" target="_blank">
          <img src="../images/Logo_FB.png" alt="instagram">
        </a>
        <a href="https://x.com/?lang=es" target="_blank">
          <img src="../images/Logo_X.png" alt="instagram">
        </a>
        <p>Calle de las Mascotas, 123, 28001 Madrid, España. <a href="#">Aviso legal</a></p>
      </div>
    </footer>
  </body>
</html>